@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  background: rgb(241,4,44);
background: linear-gradient(90deg, rgba(241,4,44,1) 1%, rgba(2,0,36,1) 100%);
}

:root {
  --main-color:linear-gradient(90deg, rgba(241,4,44,1) 27%, rgba(2,0,36,1) 100%);
}

body::-webkit-scrollbar {
  display: none;
}


